#bracketSvg {
	max-height: 80vh;
}

#bracketSvg.light #Center {
	fill: black;
}
#bracketSvg.dark #Center {
	fill: white;
}

#bracketSvg #Top_Left_Quad {
	fill: blue;
}
#bracketSvg #Bot_Left_Quad {
	fill: red;
}
#bracketSvg #Top_Right_Quad {
	fill: yellow;
}
#bracketSvg #Bot_Right_Quad {
	fill: green;
}